
@{
    ViewBag.Title = "AssesmentCenter";
}

<h1 style="text-align:center">AssesmentCenter</h1>

<hr/>

<p>
   Mauris et fringilla dui. Etiam nec porttitor velit. Phasellus suscipit scelerisque risus et bibendum.
   Fusce sodales faucibus sem, eget feugiat magna euismod id. Donec sit amet lacus vitae ligula rutrum porta.
   Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
   Nullam efficitur, urna nec fringilla euismod, erat sapien blandit tellus, non porta nisi libero quis enim.
   Nulla sed mi vitae ante lacinia pellentesque sed vel nibh. Suspendisse eget libero posuere ipsum ornare vestibulum. 
   Suspendisse eget nunc purus. Nunc aliquam tortor eu nisl varius lobortis. Nullam et mauris lectus.
</p>


@Html.ActionLink("Malware", "MalwareQuestion", "Question")
@Html.ActionLink("Secure Configuration", "SecureConfigurationQuestion", "Question")
@Html.ActionLink("Patch Management", "PatchManagementQuestions", "Question")
@Html.ActionLink("Access Control and Administrative Privilege", "AccessControlAdminPrivilegeQuestions", "Question")
@Html.ActionLink("Boundary Firewallls and Internet Gateways", "BoundaryFirewallsInternetGateways", "Question")




@Html.ActionLink("Report generator", "ReportGenerator", "User")